extends ../layout/app

block head
  link(rel="stylesheet", type='text/css', href="#{basePath}/js/joint/joint.all.css")
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/instances/show.css")
  script(src="#{basePath}/js/joint/joint.nojquery.js")
  script(src="#{basePath}/js/joint/joint.sega_extension.js")

block content
  .row#user-area
    .avatar.col-sm-12
      img.userImg(src="/images/check.png", style="height:90px;width:90px;")
    ul.task-menu.list-unstyled.nav.navbar-nav
      li
        a(href="/")
          img(src="/images/goback.png")
          //-span Home
          span 主页

  .process-instance
    //-h2 Entity
    h2 实体
    pre !{instance.getEntity()}

    //-h2 Process - Service
    h2 流程 - 服务

    div#processViewer

    hr

    if !nextTask.getId().isEmpty() && nextTask.getId()!="completed"
      a.btn-task.btn.btn-primary.btn-lg(href="/processes/instances/#{instance.getId()}/task/#{nextTask.getId()}") #{nextTask.getName()}

    script
      var process_json= !{processJSON};
      var nextTask = "#{nextTask.getId()}";

    script(src="/js/instances/show.js")
