extends ../layout/app

block head
  link(rel="stylesheet", type='text/css', href="#{basePath}/js/joint/joint.all.css")
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/instances/show.css")
  script(src="#{basePath}/js/joint/joint.nojquery.js")
  script(src="#{basePath}/js/joint/joint.sega_extension.js")

block content 
  .process-instance
    h2 Entity
    pre !{instance.getEntity()}

    h2 Process

    div#processViewer

    hr
    
    // TODO 暂时直接链接到“受理”的任务测试
    a.btn.btn-primary(href="/processes/instances/#{instance.getId()}/task/#{nextTask.getId()}") #{nextTask.getName()}

    script
      process_json=!{processJSON}

    script(src="/js/instances/show.js")
