extends ../layout/app

block head
  link(rel="stylesheet", type='text/css', href="#{basePath}/js/joint/joint.all.css")
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/instances/show.css")
  script(src="#{basePath}/js/joint/joint.nojquery.js")
  script(src="#{basePath}/js/joint/joint.sega_extension.js")

block content
  .row#user-area
    .avatar.col-sm-12
      img.userImg(src="/images/check.png", style="height:90px;width:90px;")
    ul.task-menu.list-unstyled.nav.navbar-nav
      li
        a(href="/")
          img(src="/images/goback.png")
          span Home

  .process-instance
    h2 Entity
    pre !{instance.getEntity()}

    h2 Process

    div#processViewer

    hr
    
    // TODO 暂时直接链接到“受理”的任务测试
    a.btn.btn-primary(href="/processes/instances/#{instance.getId()}/task/#{nextTask.getId()}") #{nextTask.getName()}

    script
      var process_json= !{processJSON};
      var nextTask = "#{nextTask.getId()}";

    script(src="/js/instances/show.js")
