extends ../layout/app_ng

block head
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/humantask.css")
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/instances/task.css")


block content
  .row#user-area
    .avatar.col-sm-12
      img.userImg(src="/images/list.png", style="height:90px;width:90px;")
    ul.task-menu.list-unstyled.nav.navbar-nav
      li
        a(href="/")
          img(src="/images/goback.png")
          //span Home
          span 主页

  h2 任务名称: #{taskName}
  hr
  
  #task-template(ng-controller="TaskController")
    form(method="post", action="/processes/instances/#{instance.getId()}/task/#{taskId}")
      //-input(type="hidden", name='_csrf', value='#{_csrf.token}')
      !{templateHtml}
      //- button.btn.btn-default.btn-block(type="submit") Commit
      a.btn.btn-primary.btn-lg.btn-commit(ng-click="commitTask('/processes/instances/#{instance.getId()}/task/#{taskId}')") 提交
          
  
  script
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
    
    var values = JSON.parse('!{entity}');

    angular.module('app', [])
      .controller('TaskController', function($scope){
        $scope.entity = values;

        $scope.commitTask = function(task_url){
          $.ajax({
            type: 'post',
            url: task_url,
            data: JSON.stringify($scope.entity),
            dataType   : 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(res){
              window.location.href = "/";
            },
            error: function(res){
              alert("Error");
            }
            });
        };
      });
