extends ../layout/app_ng

block content
  h2 Task ID: #{taskId}
  hr
  
  #task-template(ng-controller="TaskController")
    form(method="post", action="/processes/instances/#{instance.getId()}/task/#{taskId}")
      input(type="hidden", name='_csrf', value='#{_csrf.token}')
      !{templateHtml}
      //- button.btn.btn-default.btn-block(type="submit") Commit
      a.btn.btn-default(ng-click="commitTask('/processes/instances/#{instance.getId()}/task/#{taskId}')") Commit
          
  
  script
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
    
    var values = JSON.parse('!{entity}');

    angular.module('app', [])
      .controller('TaskController', function($scope){
        $scope.entity = values;

        $scope.commitTask = function(task_url){
          $.ajax({
            type: 'post',
            url: task_url,
            data: JSON.stringify($scope.entity),
            dataType   : 'json',
            contentType: 'application/json; charset=UTF-8',
            sucesss: function(res){
              window.location.href = "/";
            },
            error: function(res){
              alert("Error");
            }
            });
        };
      });
