!!! 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="description", content="SeGA Workflow System Demo")
    meta(name="author", content="SeGA Group.")
    title SeGA Workflow System Demo
    
    link(rel="stylesheet", href="#{basePath}/resources/vendors/bootstrap-3.3.5-dist/css/bootstrap.min.css")
    link(href="#{basePath}/resources/css/font.css", rel="stylesheet")
    link(href="#{basePath}/resources/css/theme.css", rel="stylesheet")
    link(rel="stylesheet", href="#{basePath}/resources/vendors/selectpicker/css/bootstrap-select.min.css")
    link(href="#{basePath}/resources/css/login.css", rel="stylesheet")
    
    script(src="#{basePath}/resources/vendors/jquery/jquery-2.1.4.min.js")
    script(src="#{basePath}/resources/vendors/bootstrap-3.3.5-dist/js/bootstrap.min.js")
    script(src="#{basePath}/resources/vendors/selectpicker/bootstrap-select.min.js")
    
  body.login-bg
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header 
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#")
            span(style="color:#f9f9f9;font-weight:200;") SeGA 
            span Workflow System
        .collapse.navbar-collapse#navbar 
          ul.nav.navbar-nav
            li.active
              a(href="#") Task Viewer 
            li
              a(href="#") About 
              
    .container.login
      .col-md-4.col-md-offset-4.login-container
        img(src="#{basePath}/resources/images/user/expert.png", width="128px",height="128px")
        .title
          h2 Operator 
        .login-panel
          ul 
            li
              img(src="#{basePath}/resources/images/step_detail/step-process-select.png", width="28px", height="28px")
              span Process Execution
            li

          form(method="post",action="#{basePath}/authenticate")
            input(type="hidden", name='_csrf', value='#{_csrf.token}')
            input(style="display:none;",type="text",name="username",value="user")
            input(style="display:none;",type="password",name="password",value="demo")
            button.btn.btn-default.btn-block(type="submit") Login
  
