meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="description", content="SeGA Workflow System Demo")
meta(name="author", content="SeGA Group.")
meta(name="csrf-token",content="#{_csrf.token}")
title SeGA Workflow System Demo

link(rel='stylesheet', type='text/css', href='#{basePath}/webjars/bootstrap/3.3.5/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='#{basePath}/webjars/font-awesome/4.3.0-3/css/font-awesome.min.css')
link(rel="stylesheet", type='text/css', href="#{basePath}/css/font.css")
link(rel="stylesheet", type='text/css', href="#{basePath}/css/theme.css")
link(rel="stylesheet", type='text/css', href="#{basePath}/webjars/bootstrap-select/1.7.3-1/css/bootstrap-select.min.css")
link(rel="stylesheet", type='text/css', href="#{basePath}/css/task-list.css")
link(rel="stylesheet", type='text/css', href="#{basePath}/css/humantask.css")

script(src="#{basePath}/webjars/jquery/2.1.4/jquery.min.js")
script(src="#{basePath}/webjars/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="#{basePath}/webjars/angularjs/1.4.4/angular.min.js")
script(src="#{basePath}/webjars/bootstrap-select/1.7.3-1/js/bootstrap-select.min.js")
script(src="#{basePath}/vendors/bootstrap-paginator-1.0.2/js/bootstrap-paginator.min.js")
