extends ../layout/app

block head
  link(rel="stylesheet", type='text/css', href="#{basePath}/css/create-process.css")

block content
  .row#user-area
    .avatar.col-sm-12
      img.userImg(src="/images/user/operator.png", style="height:90px;width:90px;")
    ul.task-menu.list-unstyled.nav.navbar-nav
      li
        a(href="/")
          img(src="/images/ongoing.png")
          span 待办
      li
        a(href="/completed_processes")
          img(src="/images/completed.png")
          span 已办结
      li.active
        a
          img(src="/images/create.png")
          span 受理


  .container
    .g-content
      .m-activity
        h3
          span 流程
          span.badge  #{totalProcesses}

        .col-md-10.col-md-offset-1
          ul.list-unstyled#activityList
            for instance in instances
              li
                a(href="/processes/instances/#{instance.getId()}/task/#{instance.getNextTask()}")
                  img.activityImg(src="/images/folder.png")
                  h2.processName #{instance.getProcess().getName()}
                  img.check(src="/images/search.png")
