extends ../layout/app


block content 

  h1 Process 
  hr 

  .row.processes
    for process in processes 
      .col-sm-12.process 
        h2 #{process.getName()}
        a.btn.btn-default(href="/processes/#{process.getId()}",style="margin-right:10px;") Process detail
        a.btn.btn-primary(href="javascript:$('#form-#{process.getId()}').submit()") Create instance
        form(method="post",action="/processes/#{process.getId()}",id="form-#{process.getId()}")
          input(type="hidden", name='_csrf', value='#{_csrf.token}')
        hr
        
