extends ../layout/app

block content 
  .process
    span Process ID: #{process.getId()}
    br
    span Process Name: #{process.getName()}
    br 
    br
    span Intances
    
    table.table.table-hover.table-bordered.table-stripped
      thead
        tr
          th Link 
          th Created At
          th Next Task
      tbody 
        for instance in instances 
          tr 
            td 
              a(href="/processes/instances/#{instance.getId()}") instance-#{instance.getId()}
            td #{instance.getCreatedAt()}
            td #{instance.getNextTask()}
    hr
    
    
    .panel.panel-default 
      .panel-heading 
        h3.panel-title Process JSON 
        
      .panel-body 
        pre !{processJson}
    
    .panel.panel-default 
      .panel-heading
        h3.panel-title Entity JSON 
      
      .panel-body 
        pre !{entityJson}
    
    .panel.panel-default 
      .panel-heading
        h3.panel-title ED Mapping JSON 
      
      .panel-body 
        pre !{edMappingJson}
  
    .panel.panel-default 
      .panel-heading
        h3.panel-title DD Mapping JSON 
      
      .panel-body 
        pre !{ddMappingJson}
    
    .panel.panel-default 
      .panel-heading
        h3.panel-title Binding Result JSON  
      
      .panel-body 
        pre !{bindingResultJson}

    .panel.panel-default 
      .panel-heading
        h3.panel-title Database JSON   
      
      .panel-body 
        pre !{databaseJson}
  
  script 
    $(function(){
        $("pre").hide();
        $(".panel-title").click(function(){
            $(this).parent().parent().find("pre").toggle();
        });
        
        $("pre").each(function(){
            if($(this).text() == "")
              return;
            var json = JSON.stringify(eval('(' + $(this).text() + ')'), null, '  ');
            $(this).text(json);
        });
        
    });
