extends ../layout/app 

block content
  .row#user-area 
    .avatar.col-sm-12
      img.userImg(src="/images/user/operator.png", style="height:90px;width:90px;")
    ul.task-menu.list-unstyled.nav.navbar-nav
      li
        a(href="/")
          img(src="/images/ongoing.png")
          span 待办
      li.active
        img(src="/images/completed.png")
        span 已办结
      li
        a(href="/processes")
          img(src="/images/create.png")
          span 受理

  
  .container
    .g-content
      .m-activity
        h3
          //span Completed Activities
          span 已办结活动
          span.badge  #{totalInstances}

        .col-md-10.col-md-offset-1
          ul.list-unstyled#activityList
            for instance in instances
              li(style="width:100%;min-height:0px")
                a.btn-activity(href="/completed_detail/#{instance.getId()}",target="_blank")
                  img.activityImg(src="/images/list.png",style="width:21px;height:21px")
  
                  .info
                    .btn-edit
                        span.glyphicon.glyphicon-edit
                    span.task(style="margin-right:10%")
                      |任务:
                      span.emph #{taskNames.get(instance.getNextTask())}
                    span.description(style="margin-right:10%")
                      |流程:
                      span.emph #{instance.getProcess().getName()}
                    span.date1 #{instance.getCreatedAt()}


          div#my-pagination
    
    script 
      $(function(){
          var options = {
            currentPage: #{page},
            totalPages: #{totalPages}+1,
            pageUrl: function(type, page, current){
                return document.location.pathname+'?page='+(page-1);
            }
          };
          
          $('#my-pagination').bootstrapPaginator(options);
      });