extends ../layout/app 

block content
  .row#user-area 
    .avatar.col-sm-12
      img.userImg(src="/images/user/operator.png", style="height:90px;width:90px;")
    span.current_selected 全部
    ul.task-menu.list-unstyled.nav.navbar-nav
      li.active
        img(src="/images/ongoing.png")
        span 待办
      li
        a(href="/completed")
          img(src="/images/completed.png")
          span 已办结
      li
        a(href="/processes")
          img(src="/images/create.png")
          span 受理

  
  .container
    .g-content
      .m-activity
        h3
          span 活动
          span.badge  #{totalInstances}

        .col-md-10.col-md-offset-1
          ul.list-unstyled#activityList
            for instance in instances
              li
                a.btn-activity(href="/processes/instances/#{instance.getId()}/task/#{instance.getNextTask()}")
                  img.activityImg(src="/images/list.png")

                  .info
                    .btn-edit
                        span.glyphicon.glyphicon-edit
                    p.task
                      |任务:
                      span.emph #{taskNames.get(instance.getNextTask())}
                    p.description
                      |进程:
                      span.emph #{instance.getProcess().getName()}
                    p.date1 #{instance.getCreatedAt()}


          div#my-pagination
    
    script 
      $(function(){
          var options = {
            currentPage: #{page},
            totalPages: #{totalPages},
            pageUrl: function(type, page, current){
                return document.location.pathname+'?page='+(page-1);
            }
          };
          
          $('#my-pagination').bootstrapPaginator(options);
      });
      $('.nav-myself li a').click(function(){$('.current_selected').text($(this).text())})
    
      

        

          
